<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>New Craigslist listing: <%= @listing.url %></p>
<h1><%= @listing.description %> <%= @listing.price == 0 ? '' : "- $#{@listing.price}" %></h1>
<p><%= @listing.content %></p>
</body>
</html>